Does not add cache header to HTTP302 redirect responses

V2 does not allow caching redirections. 

**Repro**
Using Strathweb.CacheOutput.WebApi2.StrongName v0.10.0
Applied attribute `[CacheOutput(ClientTimeSpan = 86400)]` to a webapi 2 action returning type `RedirectResult`. 
Brauser is getting the expected HTTP302, but response does not contain any `cache-control` headers - caching attribute setting does not apply.

Expected behavior is that HTTP302 responses are cached as the attribute states. According to RFC 2616, section 10.3.3 302 Found:

> The requested resource resides temporarily under a different URI. Since the redirection might be altered on occasion, the client SHOULD continue to use the Request-URI for future requests. This response is only cacheable if indicated by a Cache-Control or Expires header field.